<nav>
	<a href="home">Home</a>
	<a href="about-me">About Me</a>
	<a href="commissions">Commissions</a>
	<strong>Contact Me</strong>
</nav>
<h1>Contact Me</h1>
<p>
	Questions about your options for orders or various other business inquiries?<br>
	<ul>
		<li>Email: MangakyoDrawings@gmail.com</li>
		<li>Phone: (123) 567-7890</li>
		<li>Appt: 1234 Main Street</li>
	</ul>
	<a href="business-card-template.jpg" download>Download my business card here</a>
</p>